@import '../base.scss';

.formButton {
    background-color: $jitYellow;
    border: none;
    font-size: 1.5rem;
    padding: 0.7rem 4rem;
    margin-top: 1rem;
}
.formButton:hover {
    color: $white;
    background-color: $black;
}