@import '../base.scss';

.formButton {
    background-color: $jitYellow;
    border: none;
    font-size: 2rem;
    padding: 1rem 5rem;
    margin-top: 2rem;
}
.formButton:hover {
    color: $white;
    background-color: $black;
}