@import "/Users/admin/Documents/GitHub/Donutomat/src/components/base.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

tbody{
    display: grid;
    font-size: 60px;
    width: 1000px;
    height: 200px;
    text-align: center;



>tr{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;

    
}
tr:nth-child(even){
    background-color:$lightGrey;


}
}