@import '../base.scss';

input {
    width: 500px;
    min-height: 50px;
    font-size: 2rem;
    border: none;
    padding-left: 10px;
    margin-bottom: 3rem;
    background-color: $white;
    color: rgba($black, 0.5);
}
