@import "../base.scss";
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.table{
    border-spacing: 80px;
    margin-left: 250px;
    margin-right: 35px;
    margin-top: -10px;
    width: 80vw;

}
