@import '../base.scss';
// @import "react-datepicker/src/stylesheets/datepicker.scss";

.formContainer {
    position: absolute;
    left: 240px;
    display: flex;
    margin: 90px 40px;
    background-color: $lightGrey;
    height: calc(100% - 240px);
    width: calc(100% - 80px - 240px);
    flex-direction: column;
    text-align: center;

    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 4vh;
        margin-bottom: 8vh;
    }
    p{
        font-size: 2.5rem;
        padding-right: 20px;
    }
    img {
        width:55px;
        height: auto;
    }
    .insideForm {
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
            width: 510px;
            text-align: left;
            font-size: 1.2rem;
            padding-bottom: 10px;
        }
 
    }
}
